table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}

th{
    background-color: #343a40;
    color: #fff;
}
  
tr:nth-child(even) {
    background-color: #ecf0f1;
}

button{
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

input{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: gray;
}
